# IntelliJ project files
.idea
*.iml
out
gen### MicrosoftOffice template
*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk
### Windows template
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
### LibreOffice template
# LibreOffice locks
.~lock.*#

# Created by .ignore support plugin (hsz.mobi)
# I created bellow this point
**.gch
